#listings_checkout_form .lp-checkout-page-outer{
    padding: 20px 10px;
}
#listings_checkout_form .lp_payment_step_next{
    margin-bottom: 20px;
}
#listings_checkout_form .checkout-padding-top-bottom{
    padding: 20px 10px;
}
#listings_checkout_form span.lp-text-switch-checkbox{
    font-size: 14px;
    height: 24px;
    line-height: 24px;
}

@media (min-width: 992px){
    .col-md-10.col-md-offset-1{
        width: 91.66666667%;
    }
    #listings_checkout_form>.row>.col-md-8{
        padding-right: 20px;
    }
}